<!DOCTYPE html>
<html lang="en">

<head>
<title>Registration</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



	
</head>
<body>
	<div>
	
	<h1>REGISTER</h1>
    <h4>Please Fill it with correct information</h4>
    <form action="../control/Registration.php" method="post" novalidate>
<div class="box">
<label for="name"><b>Name:</b></label>
<input type="text" name="name" id="name" value="" placeholder="Full Name"><span></span><br><br>
<label for="mob"><b>Mob:</b></label>
<input type="text" name="mob" id="mob" value="" placeholder="Mobile no."><span></span><br><br>
<label for="email"><b>Email:</b></label>
<input type="text" name="email" id="email" value="" placeholder="Email"><span></span><br><br>
<label for="address"><b>Address:</b></label>
<input type="text" name="address" id="address" value="" placeholder="Address"><span><br><br>
<label><b>Gender:</b></label>&nbsp;
<input type="radio" id="gender" name="gender" value="M">M&nbsp;
<input type="radio" id="gender" name="gender" value="F">F&nbsp;<span></span><br><br>
<label><b>Age:</b></label><br>
<input type="text" name="age" id="age" value="" placeholder="age"><span></span><br><br>
<label><b>Password:</b></label><br>
<input type="password" name="password" id="pass" placeholder="Password" value=""><span></span><br><br>
<input type="submit" name="submit" value="Submit">
<p>
              Already have an account? <a href="login.php">Login</a><br>
      </p>
</form>
</div>
</body>
</html>